<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: aqua;
        }
        header{
            position:absolute;
            width: 300px;
           
            top:40%;
            left:40%;
            border: 1px solid black;
            text-align: center;
            line-height:3 ;
            padding-bottom: 20px;
            background-color: white;
            perspective: 10000px;
            transform-style: preserve-3d;
            box-shadow: 5px 5px grey;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

          
        }
        .blank{
            width: 300px;
            height: 40px;
            background-color: blue;
        }
    </style>
</head>
<body>
    <header>
        <div class="blank"></div>
 your form is submitted check your mail
 </header>
</body>
</html>